{% extends 'base/base_sistema.html' %}

{% block title %} Produto - {{ object.nome }} {% endblock %}

{% block conteudo__header__text %}
  {{ object.nome }}
{% endblock conteudo__header__text %}

{% block conteudo__header__actions %}
  <a href="{{ object.get_update_url }}" class="btn btn-primary">Atualizar</a>
  <a href="{{ object.get_delete_url }}" class="btn btn-primary btn-danger">Excluir</a>
{% endblock conteudo__header__actions %}

{% block conteudo %}
  <p><b>Valor: </b>{{ object.valor }}</p>
  <p><b>Unidade: </b>{{ object.unidade }}</p>
  <p><b>Categoria: </b>{{ object.categoria }}</p>
  

{% endblock conteudo %}
