{% extends 'base/base_sistema.html' %}

{% block title %}
  Excluir
  {% block model_name %}

  {% endblock model_name %}

{% endblock title %}

{% block conteudo__header__text %}Excluir{% endblock conteudo__header__text %}

{% block conteudo %}
  <form action="" method="POST">
  {% csrf_token %}

  <p>Tem certeza que deseja excluir o {% block model_name__text %}{% endblock model_name__text %}
  {% block model %}{% endblock model %}?</p>

  <div class="btn-group btn-block" role="group">
    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </div>
</form>

{% endblock conteudo %}
